.label-floating input:not(:placeholder-shown) {
    padding-top: 1.4rem;
  }
  .label-floating input:not(:placeholder-shown) ~ label {
    font-size: 0.6rem;
    transition: all 0.2s ease-in-out;
    color: #181818;
  }
#input {
  color: #181818;
}